// Header
header {
	z-index: 10;
	position: sticky;
	top: 0;
	box-shadow: $box-shadow-1;
	@include flex-layout(row, nowrap);
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: $primary-color;
}

.logo {
	&:hover,
	&:focus {
		@include pop-on-hover-1;
	}
}

.logo-img {
	height: 3rem;
	@include respond-to-width(1024px) {
		height: 4rem;
	}
}
